[Unit]
Description=Duerer image caching and resizing server
After=network.target

[Service]
User=duerer
WorkingDirectory=/var/run/duerer
ExecStart=/usr/bin/duerer --config /etc/duerer/config.xml --log /var/log/duerer/duerer.log --log-rotate-dir /var/log/duerer
Restart=always

[Install]
WantedBy=multi-user.target
